


body{
    background-color: #240fc4;
}
header{
    margin-top: 0px;
    margin-left: 0px;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #f09819;
    border-radius: 3px;
  }
  
  li {
   float: left;
 
  }
  
coucou{
    float: right;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .image{
    width: 250px;
    height: 300px;
    margin-left: 75px;
    border-radius: 6px;
  }

  .text1{
    text-align: center;
    background-color: gray;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border-radius: 4px;
    font-size: 28px;
  }

  .text1{
    text-align: center;
    background-color: gray;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border-radius: 4px;
    font-size: 28px;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    text-align: center;
 }